body {
  background-color: #cccccc;
  font-family: "Arial", Arial, sans-serif;
  width: 220px;
}

.title {
  font-size: 13px;
  font-weight: bold;
}

.setting-name {
  color: black;
  font-size: 12px;
}

.reminder-text {
  font-style: italic;
  font-size: 10px;
}

.textbox {
  width: 210px;
}

.number {
  width: 30px;
}

.toggle {
  color: blue;
  font-size: 10px;
}

.advanced {
  display: none;
}
